extends layout.pug

block content
	.card
		.card-header
			.card-title 
			h3 #{forumName}

	each thread in threads
		.content-style.card-body
			.thread-title
				a(href= originalUrl +"/thread/"+ thread[0]) #{thread[1]}

			.last-post.text-muted
				span.colorG Last Poster: </span> #{thread[2]} &nbsp
				span.colorG Last Post made at: </span> #{thread[3]}