block content

	each thread in threads
		div(class="thread")
			div(class="thread-title")
				a(href=thread[id]) thread[thread_name]

			div(class="last-post")
				span lastpost: thread[last_post_date] by: 
				a(href=thread[profile_url]) #{thread[profile_name]}
				span #{post[postDate]}