extends layout.pug

block content
	
	each forum in forums
		.card
		.row.content-border.card-body.card-style
			.col
				.row.card-title
					.col.titles
						a(href="forum/" + forum[0]) #{forum[1]}
				.row.card-text
					.col
						span #{forum[2]}
			.col
				.row
					.col
						.row
							span thread name
						.row
							span poster time