extends layout.pug

block content
	.card.new-posts
		.card-header
			h4 Create New Post:
		form(name="new_post",method="POST",action="/post")
			if newThread
				input(type="input",name="thread-name",value="",required="required")
			textarea(name="post-content",value="",required="required",wrap="hard",id="txt-a")
			input(id="post-submit",type="submit",value="Create Post",class="subtmit-btn")