extends layout.pug

block content
	.card.new-posts
		.card-header
			h4 New Thread:
		form(name="new_post",m)
				h2 Thread Title:
				input(id="thread-title",type="input",name="thread-name",value="",required="required")
				h3 Post content:
				textarea(name="post-content",value="",required="required",wrap="hard",id="txt-a")
				input(id="thread-submit",type="submit",value="Create Post",class="subtmit-btn")