extends layout.pug

block content

	.row
		.col.col-4
			.card
				.card-img-top.avatar
					img.pro-pic(src="http://via.placeholder.com/200x200")
				.card-body.text-muted
					p Place holder: Joined
					p Place holder: Last Seen
					p Place holder: Post Count 
		.col.col-8
			.card
				.card-header
					.card-title 
					h2 Profile Page! </h2> Hello.
				.content-style.card-body
					p Place holder: Firstname 
					p Place holder: Lastname
					p Place holder: Email
					p Place holder: Username
					
				