if user
	a(href="/profile/" + user.username) #{user.username}
	a(href="/signout") Sign Out
else
	form(id="login",name="login-form",method="POST",action="/login")
		input(id="login-username",name="account",type="text",value="")
		input(id="login-password",name="password",type="password",value="")
		input(type="submit",value="Login")