extends layout.pug

block content
	.card
		.card-header
			h3 #{threadName}

	each post in posts

		.content-style.card-body
			.row
				.col-2.postr-box
					a(href="/profile/" + username)
						img.post-ava(src="http://via.placeholder.com/200x200")
						h5.name #{username}
						if online
							.online
						else
							.offline

				.col-9
					p.post-cont #{post[3]}
					p.text-muted.last-post Posted by: #{username}
	
	if user
		.card.new-posts
			.card-header
				h4 Create New Post:
			form(name="new_post")
				textarea(name="post-content",value="",required="required",wrap="hard",id="txt-a")
				input(id="post-submit",type="submit",value="Create Post",class="subtmit-btn")
	else
